<script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
{{#section 'css'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}

{{#section 'js'}}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/12.1.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create(document.querySelector('#editor'), {
            cloudServices: {
                tokenUrl: 'https://40026.cke-cs.com/token/dev/KfpkgsMLg4H3MScxXYcy7tQSOnwlgQzrxdgVstsi5dBdn3S4PYlHS0cwq8Vm',
                uploadUrl: 'https://40026.cke-cs.com/easyimage/upload/'
            }
        })
        .catch(error => {
            console.error(error);
        });
</script>
<script>
    $(function () {
        $('#ngayDang').datetimepicker({
            // format: 'd/m/Y H:i'
            format: 'Y/m/d',
            timepicker: false,
            mask: true,
        });
    })
</script>
{{/section}}
<div class="container">
    <h2 class="mt-5">Đăng bài viết mới</h2>
    <div class="shadow p-3 mb-5 bg-white rounded mt-5">
        <form action="/products/uppost" method="POST" enctype="multipart/form-data">
            <div class="btn btn-primary btn-sm float-left">
                <span>Chọn ảnh tiêu đề</span>
                <input type="file" name="AnhDaiDien">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Tiêu đề</span>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="Username"
                    aria-describedby="basic-addon1" id="TieuDe" name="TieuDe">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Chuyên mục</label>
                </div>
                <select class="custom-select" id="ChuyenMuc" name="ChuyenMuc">
                    <option selected>Choose...</option>
                    <option value="1">Tin game</option>
                    <option value="2">Tin Esport</option>
                    <option value="3">Cẩm nang</option>
                    <option value="4">Cộng đồng</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Tag</label>
                </div>
                <select class="custom-select" id="Nhan" name="Nhan">
                    <option selected>Choose...</option>
                    <option value="1">Phân tích</option>
                    <option value="2">Xu hướng</option>
                    <option value="3">PBE</option>
                    <option value="4">Lịch thi đấu</option>
                    <option value="5">VCS</option>
                    <option value="6">LCS/LEC</option>
                    <option value="7">Quốc tế</option>
                    <option value="8">Chiến thuật</option>
                    <option value="9">Cơ chế hoạt động</option>
                    <option value="10">Tướng</option>

                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Ngày đăng</span>
                </div>
                <input type="date" class="form-control" id="NgayDang" name="NgayDang">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Nội dung tóm tắt</span>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="Username"
                    aria-describedby="basic-addon1" id="NDTomTat" name="NDTomTat">
            </div>
            <textarea name="content" id="editor">
    </textarea>
            <div class="text-right">
                <button type="submit" class="btn btn-outline-success mt-5">Lưu</button>
            </div>
        </form>
    </div>
</div>
<script>

    CKEDITOR.replace('editor');

    $('#datepicker').datepicker({
        uiLibrary: 'bootstrap4'
    });

</script>